@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

$font: "Rubik", sans-serif;
a {
  color: #fff;
}
.header {
  height: 70px;
  width: 100vw;
  background-color: #000;
  font-family: $font;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .cover-header {
    height: 100%;
    width: 80vw;
    max-width: 1500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 30px;
      list-style: none;
      li:hover {
        cursor: pointer;
      }
    }

    .icon,
    .menu2 {
      display: none;
    }
    .menu2 {
      position: fixed;
      height: 100vh;
      width: 100vw;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.98);
      z-index: 10;

      .closemenu {
        position: absolute;
        top: 20px;
        right: 40px;
      }
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        font-size: 24px;
        flex-direction: column;
        margin-left: -40px;
      }
    }
  }
}

@media (min-width: 250px) and (max-width: 900px) {
  .header .cover-header .menu {
    display: none;
  }
  .icon {
    display: block !important;
  }
}
