@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lobster&family=Pacifico&family=Rubik&display=swap");

$font: "Rubik", sans-serif;
$font2: "Inter", sans-serif;
$font3: "Lobster", cursive;

.container {
  main {
    font-family: $font2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    h1 {
      font-family: $font3;
      font-size: 3em;
      font-weight: 400;
    }
    .form {
      display: flex;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
      padding: 5px;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 15px;
      padding-right: 25px;
      width: 80vw;
      max-width: 1200px;
      color: #fff;
      .left {
        height: auto;
        flex-direction: column;
        width: 48%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000 !important;
        img {
          width: 90%;
        }
      }
      .rightBox {
        display: flex;
        gap: 20px;
        width: 48%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        h1 {
          color: #000;
          font-size: 2em;
        }
        .h5 {
          color: #000;
          display: none;
        }
        .div {
          display: flex;
          width: 80%;
          justify-content: center;
          align-items: center;
          border: 1px solid rgb(179, 179, 179);
          padding-left: 10px;
          svg {
            color: #000;
          }
          input,
          textarea,
          .submit,
          select,
          input[type="file"] {
            height: 40px;
            width: 100%;
            padding-left: 10px !important;
            font-family: $font;
            border-radius: 10px;
            outline: none;
            border: none;
            color: #000;
          }
          textarea {
            padding-top: 10px !important;
            height: 150px;
            resize: none;
          }
        }

        .submit {
          background-color: rgb(88, 41, 218);
          color: #fff;
          border: none;
          height: 40px;
          width: 83%;
          font-family: $font;
          border: none;
          border: none;
          outline: none;
        }

        .half {
          width: 38%;
        }
      }
    }
  }
}

@media (min-width: 250px) and (max-width: 900px) {
  .rightBox,
  .left {
    width: 100% !important;
  }
  .container main .form .rightBox {
    text-align: center;
    margin-top: -30px;
  }
}
