@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lobster&family=Pacifico&family=Rubik&display=swap");

$font: "Rubik", sans-serif;
$font2: "Inter", sans-serif;
$font3: "Lobster", cursive;
.container {
  .banner {
    height: 250px;
    width: 80vw;
    max-width: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 5px;
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.75)),
      url("https://c.tenor.com/fBoFE2aeLPsAAAAd/pixel-neon-rain.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .products {
    height: auto;
    width: 80vw;
    max-width: 1500px;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px;
      list-style: none;
      justify-content: center;
      align-items: center;
      margin-left: -40px;
      li {
        min-height: 320px;
        width: 300px;
        background-color: transparent;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 10px;
        overflow: hidden;
        padding: 5px;
        gap: 10px;
        position: relative;
        img {
          width: auto;
          height: auto;
          max-width: 250px;
          max-height: 150px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -100%);
        }
        .desc {
          position: absolute;
          bottom: 20px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          justify-content: center;
          align-items: center;
        }
        .btns {
          display: flex;
          gap: 10px;
          button {
            height: 40px;
            border: none;
            background-color: rgb(128, 84, 248);
            font-family: $font2;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;
            width: 50px;
          }
          .view {
            width: 200px;
          }
        }
      }
    }
  }
}
