@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

$font: "Rubik", sans-serif;

.product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  width: 80vw;
  max-width: 1500px;
  gap: 20px;
  padding: 10px;
  .left,
  .info {
    span {
      color: rgb(88, 41, 218);
    }
    img {
      width: auto;
      max-width: 90%;
    }
    div {
      display: flex;
      gap: 10px;
      button {
        height: 35px;
        width: 175px;
        border: none;
        background-color: rgb(88, 41, 218);
        color: #fff;
        font-family: $font;
      }
    }
    width: auto;
    max-width: 48%;
  }
}

@media (min-width: 250px) and (max-width: 850px) {
  .product {
    .left,
    .info {
      width: 100% !important;
      max-width: 100% !important;
    }
  }
}
