@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lobster&family=Pacifico&family=Rubik&display=swap");

$font: "Rubik", sans-serif;
$font2: "Inter", sans-serif;
$font3: "Lobster", cursive;

$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;

$color-alpha: #1772ff;
$color-form-highlight: #eeeeee;

.swiper {
  height: 500px;
  width: 80vw;
  max-width: 1500px;
}
.swiper-slide:nth-child(1) {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://wallpaperaccess.com/full/7445.jpg");
  background-position: center;
  background-size: cover;
}

.swiper-slide:nth-child(2) {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://wallpaperaccess.com/full/2722030.jpg");
  background-position: center;
  background-size: cover;
}

.swiper-slide:nth-child(3) {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://i.pinimg.com/originals/a2/94/b5/a294b593769b6bf61b55c152032e7459.jpg");
  background-position: center;
  background-size: cover;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  .sliderbox {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font;
    flex-direction: column;

    h1 {
      font-family: $font;
      font-size: 24px;
      width: 80%;
      color: #fff;
    }
    button {
      height: 45px;
      width: 180px;
      font-family: $font;
      border: 2px solid #fff;
      background-color: transparent;
      color: #fff;
    }
    button:hover {
      transform: scale(1.05);
      background-color: #fff;
      color: #000;
      transition: 0.2s ease;
      cursor: pointer;
    }
  }
}

main {
  .prod_block {
    padding: 15px;
    height: auto;
    width: 80vw;
    background-color: rgb(233, 233, 233);
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .table {
    width: 50vw !important;
  }

  th,
  td {
    text-align: left;
    padding: 8px;
    img {
      height: auto;
      width: auto;
      max-height: 150px;
      max-width: 150px;
    }
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  .totalbx {
    height: auto;
    width: 250px;
    padding: 3px;
    float: right;

    .delete {
      height: 35px;
      width: 175px;
      border: none;
      background-color: rgb(88, 41, 218);
      color: #fff;
      font-family: $font;
    }
  }
}
