a {
  text-decoration: none !important;
}
body {
  background-color: #f5f7ff;
  overflow-x: hidden;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 80vw;
  max-width: 1300px;
  height: auto;
  padding-top: 10px;
}
